<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Final Test</title>
  </head>
  <body>
    <main class="main">
      <div class="row p-0">
        <div class=" col-3 sidebar">
          <div class="row">
            <div class="col-12 sidebar__brand m-3">
              <button id="collapse-btn">
                <i class="fas fa-angle-left fa-3x"></i>
              </button>
            </div>
            <div class="col-12 sidebar__line"></div>
            <div class="col-12 sidebar__content">
              <ul class="sidebar__items m-3">
                <li class="my-3">
                  <i class="fas fa-cog"></i> <a href="#">Menu 1</a>
                </li>
                <li class="my-3">
                  <i class="fas fa-cog"></i> <a href="#">Menu 2</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-9 content">
          <div class="container">
            <div class="row">
              <div class="col-12" id="employees">
                <h1>List of Employees</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
