<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="sidenav">
    <div class="sidenav__icon">
      <button><i class="fab fa-500px"></i></button>
    </div>
    <div class="sidenav__line"></div>
    <a href="#">
      <i class="fab fa-airbnb"></i>
      Menu1
    </a>
    <a href="#">
      <i class="fab fa-airbnb"></i>
      Menu1
    </a>
  </div>

  <!-- Page content -->
  <div class="main">
    <h3>List Of Employee</h3>
  </div>
</body>
</html>
